@import url(null.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oswald:wght@600&family=Rubik+Pixels&display=swap");

@font-face {
  font-family: Ayuga;
  font-weight: normal;
  font-style: normal;
  src: local("Ayuga Regular"), local("Ayuga-Regular"),
    url("../fonts/Ayuga-Regular.woff2") format("woff2"),
    url("../fonts/Ayuga-Regular.woff") format("woff"),
    url("../fonts/Ayuga-Regular.ttf") format("truetype");

  font-display: swap;
}

.text1 {
  font-family: "Montserrat", sans-serif;
}
.text2 {
  font-family: "Oswald", sans-serif;
}
.text3 {
  font-family: "Rubik Pixels", cursive;
}
p {
  margin-top: 20px;
}
.text4 {
  font-family: Ayuga;
  
}
